<div class="story">
<h1></h1>
<div class="path">file:/C:/Users/Administrator/Desktop/paic-arch-set-theory-clock-27627ce9a285/classes/set-theory-clock.story</div>
<div class="scenario">
<h2>Scenario: </h2>
<div class="step successful">When the time is <span class="step parameter">00:00:00</span></div>
<div class="step successful">Then the clock should look like <span class="step parameter">B|BBBB|BBBB|BBBBBBBBBBB|BBBB</span></div>
<div class="step successful">When the time is <span class="step parameter">09:33:24</span></div>
<div class="step successful">Then the clock should look like <span class="step parameter">B|RBBB|RRRR|YYRYYRBBBBB|YYYB</span></div>
<div class="step successful">When the time is <span class="step parameter">23:59:59</span></div>
<div class="step successful">Then the clock should look like <span class="step parameter">R|RRRR|RRRB|YYRYYRYYRYY|YYYY</span></div>
</div>
</div>
